/*  For all browsers
 */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/*
*   For preventing adjustments of font size after 
*   orientation changes in IE and iOS.
*   ===========================================
*/

html {
    font-family: "Roboto", sans-serif;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

/*  
*/
      
body {        
    background-color:  #fafafa;
    margin: 0;
}

.card {
    width: 320px;
    box-shadow: 0px 5px 15px #999;
    border: 0.5px solid #dcdcdc;
    border-radius: 4px;
    background-color:  #778899;
    color: #fffaf0;
    text-align: center;
    margin: 0 auto;
}

/*  Title  */ 
     
h3 {
    margin-left: 10px;	
    text-align: left;
}

/*   */

em {
   font: italic 300 1em "Helvetica", sans-serif;
   text-align: center; 
}

/*  url Tiger image  */

/**
*  [url=https://commons.wikimedia.org/wiki/File%3APanthera_tigris_altaica_13_-_Buffalo_Zoo.jpg]
*  [img]https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Panthera_tigris_altaica_13_-_Buffalo_Zoo.jpg/512px-Panthera_tigris_altaica_13_-_Buffalo_Zoo.jpg[/img][/url]
*  [url=https://commons.wikimedia.org/wiki/File%3APanthera_tigris_altaica_13_-_Buffalo_Zoo.jpg]Panthera tigris altaica 13 - Buffalo Zoo[/url] 
*  [Public domain], by Dave Pape (Own work), from Wikimedia Commons
*/

/*  Image style */

img {
    width: 300px;
    height: 200px;
    vertical-align: middle;
    border-radius: 1px;
    border: 0.51px solid  #778899;
}
   
.description {
    width: 300px;
    border: 0.2px solid  #fffaf0;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    font: lighter 0.8em "Roboto", sans-serif;
}

/*  Remove padding-left and style the list items from the list  */
      
ul {
    padding-left: 0;
    list-style-type: none;
}
    
/*  Style Animal's list items  */
       
li {        
    margin-bottom: 5px;
}


li span {
    font: bold 1.12em "Roboto", sans-serif;        
    color: #4b0082; 
}

      